name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./secretcache -coverprofile=coverage.out -covermode=atomic

      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          use_oidc: true
